<div class="NavBar">
    <div class="NavLinkBox">
        <a routerLink="Spiele" class="hover-underline-animation-orange marked-orange orange NavLink" (click)="makeOrange($event)">
            Spiele
        </a>
    </div>
    <div class="NavLinkBox">
        <a routerLink="Konto" class="hover-underline-animation-green green NavLink" (click)="makeOrange($event)">
            Konto
        </a> 
    </div>
    <div class="NavLinkBox">
        <a routerLink="Login" class="hover-underline-animation-gree red NavLink"(click)="makeOrange($event)">
            Log in
        </a>
    </div>
    <script src="./navbar.component.js"></script>
</div>