<div class="FormContainer">
  <h1>Anmelden</h1>
  <div class="ErrorMessage hidden" id="ErrorMessageBox">Error:</div>
  <form (submit)="submitForm($event)">
    <label for="UsernameInput">Username</label>
    <input class="LoginInput" id="UsernameInput" type="text" />
    <label for="PasswordInput">Passwort</label>
    <input class="LoginInput" id="PasswordInput" type="password" />
    <button class="SubmitButton" type="submit">Log In</button>
  </form>
  <div class="RegisterContainer">
    <a routerLink="Register">Registrieren</a>
  </div>
</div>
