<div>
    <div class="BlackjackContainer">
        <img class="PokerTable" src="../../assets/PokerTable.png" alt="Pokertable">
        <div class="ChipContainer">
            <img class="ChipImg" (click)="BetChip('5')" src="../../assets/Chips/5Chip.png" alt="5 Chip">
            <img class="ChipImg" (click)="BetChip('20')" src="../../assets/Chips/20Chip.png" alt="20 Chip">
            <img class="ChipImg" (click)="BetChip('100')" src="../../assets/Chips/100Chip.png" alt="100 Chip">
            <img class="ChipImg" (click)="BetChip('500')" src="../../assets/Chips/500Chip.png" alt="500 Chip">
            <img class="ChipImg" (click)="BetChip('1000')" src="../../assets/Chips/1000Chip.png" alt="1000 Chip">
            <img class="ChipImg" (click)="BetChip('5000')" src="../../assets/Chips/5000Chip.png" alt="5000 Chip">
        </div>
    </div>
    <div class="ButtonContainer">
        <button class="PlayButton">Play</button>
    </div>
</div>