<div class="SpieleContainer">
    <a routerLink="Blackjack">
        <img draggable="false" class="SpieleImg blackjack" src="../../assets/Blackjacklogo.png" alt="Blackjack">
    </a>
    <a routerLink="Roulette">
        <img draggable="false" class="SpieleImg roulette" src="../../assets/RouletteLogo.png" alt="Roulette">
    </a>
    <a routerLink="Slots">
        <div>
            <img draggable="false" class="SpieleImg slots" src="../../assets/slotslogo.png" alt="Slots">
        </div>
    </a>
</div>