<div class="FormContainer">
  <h1>Registrieren</h1>
  <div class="SuccessMessage hidden" id="SuccessMessageBox">User registriert erfolgreich</div>
  <div class="ErrorMessage hidden" id="ErrorMessageBox">Error:</div>
  <form (submit)="submitForm($event)">
    <label for="UsernameRegisterInput">Username</label>
    <input class="LoginInput" id="UsernameRegisterInput" type="text" name="username" />

    <label for="PasswordRegisterInput">Passwort</label>
    <input class="LoginInput" id="PasswordRegisterInput" type="password" name="password" />

    <button class="SubmitButton" type="submit">Register</button>
  </form>

  <div class="RegisterContainer">
    <a routerLink="/Login">Log In</a>
  </div>
</div>